.header {
    background: #213B7E;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: calc(50% - 1268px / 2);
    padding-right: calc(50% - 1268px / 2);
}

.menu {
    display: flex;
    list-style-type: none;
    margin-left: 54px;
}

.menu__link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding: 28px 18px;
    display: block;
}

.menu__link_active {
    color: #213B7E;
    background-color: #fff;
    text-decoration: none;
}

.button {
    width: 153px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EA5D21;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    /*стили для планшета*/
    .header {
      padding-left: 32px;
      padding-right: 32px;
   }

   .menu {
      margin-left: 0;
   }

   .menu__link {
      font-size: 18px;
      padding: 20px 14px;
   }
}

@media screen and (max-width: 768px) {
    /*стили для мобилки*/
    .header {
       padding-left: 0px;
       padding-right: 16px;
    }

    .menu {
       flex-direction: column;
       list-style-type: none;
       margin-left: 54px;
    }

    .logo {
       display: none;
    }
}