@import url("../css/header.css");
@import url("../css/layout.css");
@import url("../css/footer.css");

.content-students {
    padding-left: calc(50% - 1202px / 2);
    padding-right: calc(50% - 1202px / 2);
}

.subtitle_students {
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    color: #000000;
    margin-top: 37px;
}

.students {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.student {
    width: 200px;
    position: relative;
}

.student__new {
    position: absolute;
    top: -12px;
    right: -13px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #3AA828;
    border-radius: 20px;
    padding: 1px 2px 1px 5px;
    text-transform: uppercase;
}

.student__name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: center;
    margin-top: 8px;
}

@media screen and (max-width: 1024px) {
   /*стили для планшета*/
   .content-students {
      padding-left: calc(50% - 736px / 2);
      padding-right: calc(50% - 736px / 2);
   }
}

@media screen and (max-width: 767px) {
    /*стили для мобилки*/
    .content-students {
       padding-left: 16px;
       padding-right: 16px;
    }

    .students {
       justify-content: center;
    }
}